<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" charset="utf-8" />
  <title>{{title}}</title>
  <link rel="shortcut icon" href="/assets/img/A_icon.svg" type="image/x-icon">
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!--<link href="assets/css/animate.min.css" rel="stylesheet" />-->
  <link href="/assets/css/style-responsive.min.css" rel="stylesheet" />
  <link href="/assets/css/default.css" rel="stylesheet" id="theme" />
  <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  <link href="/assets/css/default.css" rel="stylesheet" id="theme" />
  <link href="/assets/css/style.min.css" rel="stylesheet" />
  <link href="/assets/css/Style.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/custom/select2.min.css" />
  <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  <link href="/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
  <link href="/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
  <link href="/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
  <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
  <link href="/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/custom/toastr.min.css" />
  <!-- ================== END PAGE LEVEL STYLE ================== -->
</head>