<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="/css/custom/jquery.dataTables.min.css" /> -->

    <link rel="stylesheet" href="/css/custom/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/css/custom/font-awesome/font-awesome.min.css"
    />
    <link href="/css/custom/nprogress.css" rel="stylesheet" />
    <!-- <link href="/css/custom/green.css" rel="stylesheet" /> -->
    <link href="/css/custom/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom/scroller.bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom/daterangepicker.css" rel="stylesheet" />
    <link
      href="/css/custom/bootstrap-datetimepicker.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/custom/custom.min.css" />
    <link rel="stylesheet" href="/css/custom/toastr.min.css" />
    <link rel="stylesheet" href="/css/custom/util2.css" />
    <link rel="stylesheet" href="/css/custom/util.css" />
    <link rel="stylesheet" href="/css/custom/select2.min.css" />
    <!-- <link rel="stylesheet" href="/styles.css" /> -->

    <title>{{ title }}</title>
  </head>
</html>
