<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <!--#my-modal -->
      <h2>Информация о файле</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div
        class="row d-flex justify-content-center"
        style="max-height: 375px; min-height: 375px"
      >
        <div class="col-md-4">
          <table
            id="settings_file_apk__file_info"
            class="table table-striped table-bordered dataTable no-footer"
            style="width: 100%"
            role="grid"
            aria-describedby="datatable_info"
          >
            <thead>
              <tr role="row">
                <th
                  class=""
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-sort="ascending"
                  aria-label="ID: активировать для сортировки столбца по убыванию"
                  style="width: 5px; text-align: center"
                >
                  Параметр
                </th>
                <th
                  class=""
                  tabindex="0"
                  aria-controls="datatable"
                  rowspan="1"
                  colspan="1"
                  aria-label="ФИО: активировать для сортировки столбца по убыванию"
                  style="width: 80px; text-align: center"
                >
                  Значение
                </th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
                <td style="text-align: center"></td>
                <td style="text-align: center"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
