{{> head }}
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

             {{> navbar}}
            <div class="right_col" role="main">
                {{{body}}}
            </div>
            
        </div>
    </div>


{{> footer}}
</body>
</html>