

  <body class="login">
    <div>
      
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Авторизация</h1>
              <div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Логин"
                  required=""
                />
              </div>
              <div>
                <input
                  type="password"
                  class="form-control "
                  placeholder="Пароль"
                  required=""
                />
              </div>
              <div>
                <a class="btn btn-primary submit button__login" href="/">Войти</a>
              </div>

              <div class="clearfix"></div>

            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
