<!-- <div class="container">
  <div class="row">
    <button class="btn btn-primary" id="send_task">
      Send
    </button>
  </div>
</div> -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="page-title">
      <!--#my-modal -->
      <h1>Задачи АПК</h1>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-md-12">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="row">
              <div class="col-md-12">
                <div class="card-box table-responsive">
                  <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap no-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card-box table-responsive">
                          <div class="row">
                            <div class=" col-md-12">
                            </div>
                          </div>
                          <div>
                            <!-- Nav tabs -->
                            <div style="display: flex; justify-content: space-between;">
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a href="#home" aria-controls="home" role="tab"
                                    data-toggle="tab">Входящие</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                    data-toggle="tab">Исходящие</a></li>
                                <li role="presentation" class="active"><a href="#new_task" aria-controls="new_task"
                                    role="tab" data-toggle="tab">Новая задача</a></li>
                              </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane " id="home">
                                <div class="row">
                                  <div class="col-md-3">
                                    <div class="list-group">
                                      <a href="#1" class="list-group-item" data-toggle="tab">
                                        <h4 class="list-group-item-heading">List group item heading</h4>
                                        <p class="list-group-item-text">...</p>
                                      </a>
                                    </div>
                                    <div class="list-group">
                                      <a href="#2" class="list-group-item" data-toggle="tab" ">
                                        <h4 class=" list-group-item-heading">List group item heading</h4>
                                        <p class="list-group-item-text">...</p>
                                      </a>
                                    </div>
                                    <div class="list-group">
                                      <a href="#3" class="list-group-item" data-toggle="tab">
                                        <h4 class="list-group-item-heading">List group item heading</h4>
                                        <p class="list-group-item-text">...</p>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="col-md-9">
                                    <!-- <div class="row"> -->
                                    <div class="tab-content">
                                      <div class="tab-pane fade" id="1">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi quidem omnis
                                        reiciendis repudiandae ipsa animi? Consequuntur, laborum? Non quia quod quae at
                                        minus? Dignissimos incidunt nesciunt saepe, numquam, odit provident alias
                                        consequatur explicabo nemo placeat beatae quod? Fugit nisi provident mollitia
                                        beatae non natus laudantium, soluta cupiditate dolores debitis ratione
                                        perferendis veritatis animi harum quis voluptatum atque corrupti necessitatibus.
                                        Doloremque quos ipsa, iusto minus quod quibusdam, fuga expedita atque esse
                                        voluptate omnis excepturi similique recusandae eligendi quia facere tempore ut?
                                        Iste facilis fugiat a neque rem delectus numquam tempora esse vel, officia saepe
                                        distinctio officiis, animi minima alias adipisci ipsa, totam pariatur! Suscipit,
                                        voluptatum doloribus adipisci nulla quia vero nesciunt nisi exercitationem,
                                        soluta maiores reiciendis. Repellendus, magnam. Maxime, officia fuga magnam
                                        incidunt porro vitae itaque dolorem quae in impedit accusamus nulla rem
                                        molestias dolores debitis consequuntur quas cupiditate harum totam pariatur
                                        eveniet deserunt eius possimus? Repellendus, labore maiores cupiditate sapiente
                                        laudantium, molestiae minus quod dolorem nam perspiciatis quisquam voluptas aut
                                        exercitationem quo sed a earum nihil assumenda. Dolorum tempora tempore sapiente
                                        incidunt a. Culpa et repudiandae inventore totam optio laudantium porro nemo
                                        adipisci cumque ea quis aperiam quidem temporibus sapiente sit quaerat, nulla
                                        quisquam. Vero eaque mollitia, quia impedit earum sapiente eligendi rerum
                                        distinctio a voluptatem ipsum facere! Maxime provident, sequi minus nostrum
                                        suscipit ullam, repellendus id modi ipsam culpa voluptas, itaque maiores totam
                                        dolor facilis veniam quae magnam. Harum, recusandae ad beatae dolor porro dicta
                                        animi corrupti praesentium iste facere maiores! Assumenda cupiditate, similique,
                                        eos ad quidem saepe ducimus minus error explicabo aliquid consequuntur quasi
                                        esse maxime ratione veniam ut doloribus exercitationem nihil omnis quam
                                        consectetur tempore facere distinctio. Cum doloremque sequi itaque fuga
                                        accusamus laudantium nemo. Eaque culpa voluptatum accusantium obcaecati facere
                                        fugiat libero, perspiciatis odit eos recusandae, nihil quaerat autem sint
                                        voluptates totam delectus et earum incidunt, nostrum vitae. Autem beatae error
                                        ad tenetur consequatur ea alias numquam, blanditiis eos tempore cupiditate
                                        dolorum quidem! Expedita eligendi unde molestias ad iste doloremque atque natus
                                        veniam reiciendis, explicabo vitae iusto sed corrupti omnis cumque suscipit
                                        perspiciatis aperiam, reprehenderit provident autem? Assumenda, nihil!
                                        Temporibus rerum natus voluptatem debitis libero tempore, aliquid, beatae,
                                        excepturi aliquam alias enim non placeat corporis obcaecati voluptatibus. Ullam
                                        sint corrupti vitae aliquam, sapiente delectus non debitis asperiores quod amet
                                        dolorem sit pariatur laudantium veritatis deleniti vero. Beatae fuga et ut
                                        sapiente dolores voluptas laudantium autem quod maxime quam unde, quibusdam
                                        velit exercitationem alias enim minus ullam inventore possimus pariatur, vel
                                        facere non! Quaerat facere sit fugit tenetur rerum provident iste optio pariatur
                                        totam odio aperiam similique non expedita cum voluptatum, cupiditate ea, quod
                                        fugiat laboriosam nobis minus repudiandae! Quam sunt ea magni veniam, facilis
                                        repellat consectetur quaerat! In totam corporis adipisci commodi. Asperiores
                                        atque quidem esse illo quia omnis iure provident nobis nisi, vel incidunt aut
                                        eaque ullam ab tempora nulla consectetur, at aliquam animi voluptatem! Porro
                                        autem vel id ipsa necessitatibus eveniet eligendi assumenda incidunt blanditiis.
                                        Eum corrupti reprehenderit commodi natus doloremque aut, sequi quibusdam nemo
                                        quod, eveniet suscipit, autem fugiat? Quia beatae quasi voluptates?
                                      </div>
                                      <div class="tab-pane fade" id="2">
                                        Описание товара...2
                                      </div>
                                      <div class="tab-pane fade" id="3">
                                        Описание товара...3
                                      </div>
                                    </div>
                                  </div>
                                  <!-- </div> -->
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane" id="profile">
                              </div>
                              <div role="tabpanel" class="tab-pane active" id="new_task">
                                <div class="row">
                                  <form class="" action="" method="POST">
                                    <div class="col-md-12" style="background-color: #FFF;">
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Наименование
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <input class="form-control" id="name" type="text" name="name"
                                              required="required" placeholder="Название задачи" />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row " style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Сообщение:<span
                                              class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <textarea class="form-control" id="tasks_message"
                                              style="height: 100px; resize: none"
                                              placeholder="Введите текст..."></textarea>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Файл:<span
                                              class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="custom-file">
                                              <input type="file" name="file" id="file" class="custom-file-input">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Срок сдачи
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="input-group date" id="datetimepicker1">
                                              <input type="text" class="form-control" />
                                              <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Приоритет
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                              <select name="task_priority" style="width: 100%" id="task_priority"
                                                class="form-control">
                                                <option value="high">Высокий</option>
                                                <option value="medium">Средний</option>
                                                <option value="low">Низкий</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Комплекс
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                              <select name="city" style="width: 100%" id="city" class="form-control">
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Комплекс
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                              <select name="complex" style="width: 100%" id="complex"
                                                class="form-control">
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Подразделение
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="input-group ">
                                              <select name="subdiv" style="width: 100%" id="subdiv"
                                                class="form-control">
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Ответственный
                                            :<span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <div class="input-group ">
                                              <select name="user" style="width: 100%" id="user" class="form-control">
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row" style="padding-top: 15px;">
                                        <div class="field item form-group">
                                          <label class="col-form-label col-md-3 col-sm-3 label-align">Наименование
                                            :<span class="required"></span></label>
                                          <div class="col-md-6 col-sm-6">
                                            <input class="form-control" id="comment" type="text" name="comment"
                                              required="required" placeholder="Комментарий" />
                                          </div>
                                        </div>
                                      </div>
                                      <input type="hidden" name="_csrf" value="{{ csrf }}" />
                                      <div class="field form-group" style="float: right; padding-top: 15px;">
                                        <div class="col-md-12" style="padding-right: 0 !important;">
                                          <a href="#" class="btn btn-danger"> Отмена </a>
                                          <button type="submit" class="btn btn-success">Создать</button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>