<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="page-title">
      <!--#my-modal -->
      <h1>Настройка ПМС</h1>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="height: 100vh;">
      <div class="row">
        <div class="col-md-12">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="row" style="vertical-align: middle">
              <div class="radio" style="padding-top: 15px;">
                <div class="container">
                  <div class="col-md-4">
                    <label>
                      <input type="radio" name="optionsRadios" id="source" value="source">
                      <span> Источник публикации </span>
                    </label>
                  </div>
                  <div class="col-md-8">
                    <div class="col-md-6" style="margin-left: 24px">
                      <!-- <div class="col-md-12 col-sm-12 "> -->
                      <div class="block-text" id="block-source">
                        <div class="" style="
                                  height: 200px;
                                  border: 2px solid #e6e9ed;
                                  box-shadow: 0 5px 10px #e6e9ed;
                                ">
                          <div class="col-md-6 d-flex justify-content-center" style="height: inherit">
                            <div class="d-flex flex-column justify-content-around" style="height: inherit">
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 d-flex justify-content-center" style="height: inherit">
                            <div class="d-flex flex-column justify-content-around" style="height: inherit">
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                              <div class="d-flex align-self-center">
                                <input type="checkbox" value="" style="margin-top: 3px" />
                                <span style="margin-left: 5px"> Сайт 1 </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="radio" style="padding-top: 15px;">
                <div class="container">
                  <div class="col-md-4">
                    <label>
                      <input type="radio" name="optionsRadios" id="translate" value="translate">
                      <input type="hidden" name="translate" id="translate_input">
                      <span> Переведена публикация </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="radio" style="padding-top: 15px;">
                <div class="container ">
                  <div class="col-md-4">
                    <label>
                      <input type="radio" name="optionsRadios" id="date" value="date">
                      <input type="hidden" name="date" id="date_input">
                      <span> Дата публикации </span>
                    </label>
                  </div>
                  <div class="col-md-8">
                    <div class="block-text" id="block-date">
                      <div class="col-md-4 ">
                        <span style="margin-right: 5px; text-align: center">С: </span>
                        <div class="form-group" style="margin: 0">
                          <div class="input-group date" style="margin: inherit" id="Datepicker1">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 ">
                        <span style="margin-right: 5px; text-align: center">ПО:
                        </span>
                        <div class="form-group" style="margin: 0">
                          <div class="input-group date" style="margin: inherit" id="Datepicker2">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="radio" style="padding-top: 15px;">
              <div class="container">
                <div class="field item form-group">
                  <div class="col-md-4">
                    <label>
                      <input type="radio" name="optionsRadios" id="ID" value="id">
                      <span> ID </span>
                    </label>
                  </div>
                  <div class="col-md-8">
                    <div class="block-text" id="block-id">
                      <div class="col-md-8">
                        <input class="form-control" id="id_input" type="text" name="id" value=""
                          placeholder="Введите ID" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form action="" method="post">
              <div class="container">
                <input type="hidden" name="_csrf" value="{{ csrf }}" />
                <input type="hidden" name="data" id="input_data" value=''>
                <div class="field form-group" style="float: right; padding-top: 15px;">
                  <div class="col-md-12" style="padding-right: 0 !important;">
                    <!-- <a href="/pms" class="btn btn-danger"> Отмена </a> -->
                    <button type="submit" id="savePms" class="btn btn-success">Сохранить</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>