<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <!--#my-modal -->
      <h2>Перевод слов</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="height: 80vh">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="float: right; border-radius: 4px"
            >
              Язык оригинального текста
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </div>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="float: right; border-radius: 4px"
            >
              Язык перевода
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-md-5">
          <textarea
            class="form-control"
            style="height: 500px; resize: none"
            placeholder="Введите текст..."
          ></textarea>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <button
            class="btn btn-success"
            style="float: right; border-radius: 4px"
          >
            Перевести
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
        <div class="col-md-5">
          <textarea
            class="form-control"
            style="height: 500px; resize: none"
            placeholder="Перевод..."
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
