<<<<<<< HEAD
<div class="container">
  <div class="col-md-12 col-sm-12" style="text-align: center;">
    <div class="x_panel">
      <h1>Вы действительно хотите удалить роль?</h1>
      <div class="x_content">
        <form class="" action="" method="POST">
          <input type="hidden" name="_csrf" value="{{ csrf }}" />
          <div class="field form-group" style="padding-top: 15px;">
            <div class="col-md-12">
              <div class="row">
                <a href="/accesscontrol" class="btn btn-danger"> Отмена </a>
                <button type="submit" class="btn btn-success">
                  Удалить
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
=======
<div class="">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <h2>Вы действительно хотите удалить роль?</h2>
        <div class="x_content">
          <form class="" action="" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrf }}" />
            <div class="modal-footer" style="margin-bottom: -30px">
              <div class="field form-group">
                <div class="col-md-12">
                  <div class="row">
                    <a href="/accesscontrol" class="btn btn-danger"> Отмена </a>
                    <button type="submit" class="btn btn-success">
                      Удалить
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> master
